[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
future = "*"
gym = "*"
idna = "*"
numpy = "*"
pyglet = "*"
six = "*"
torch = "*"
urllib3 = "*"
PyYAML = "*"
pygame = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
